<!DOCTYPE html>
<html lang="en">
<%- include('baseHead')%>
<body>
  <%- include ('siteinfo')%>
  <%- include ('siteHeader')%>

  <div class="container">
    <div class="user-account-header">
      <h2>วิธีการสั่งซื้อ</h2>
    </div>
    <section class="howto-container">
        <div class="howto-items">
            <p>1. ทำการ "สมัครสมาชิก" และทำการ "เข้าสู่ระบบ" ให้เรียบร้อย</p>
            <img src="/img/how0.jpg" alt="">
        </div>
        <div class="howto-items">
            <i class='fas fa-angle-double-down' style='font-size:48px;color:red'></i>
        </div>
    
        <div class="howto-items">
            <p>2. เลือกสินค้าที่สนใจ และ กด "หยิบใส่ตระกร้า"</p>
            <img src="/img/how1.jpg" alt="">
        </div>
        <div class="howto-items">
            <i class='fas fa-angle-double-down' style='font-size:48px;color:red'></i>
        </div>
        <div class="howto-items">
            <p>3. ระบบจะพามาที่ "ตระกร้าสินค้า" และจะแสดงรายการสินค้าที่คุณสั่งซื้อ</p>
            <img src="/img/how2.jpg" alt="">
        </div>
        <div class="howto-items">
            <i class='fas fa-angle-double-down' style='font-size:48px;color:red'></i>
        </div>
        <div class="howto-items">
            <p>4. หลังจากกด "ยืนยันการสั่งซื้อ" ระบบให้กรอกข้อมูลรายละเอียดที่อยู่จัดส่งสินค้า และ จ่ายชำระเงินค่าสินค้า
            </p>
            <img src="/img/how3.jpg" alt="">
        </div>
        <div class="howto-items">
            <i class='fas fa-angle-double-down' style='font-size:48px;color:red'></i>
        </div>
        <div class="howto-items">
            <p>5. หากกดสั่งซื้อเรียบร้อยแล้ว ระบบจะแจ้งเตือนว่า "ดำเนินการสั่งซื้อสำเร็จ" </p>
            <img src="/img/how4.jpg" alt="">
        </div>
        <div class="howto-items">
            <i class='fas fa-angle-double-down' style='font-size:48px;color:red'></i>
        </div>
        <div class="howto-items">
            <p>6. คุณลูกค้าสามารถดูประวัติการสั่งซื้อได้ โดยไปที่ "บัญชีของฉัน >> ประวัติการสั่งซื้อ" </p>
            <img src="/img/how5.jpg" alt="">
        </div>
        <div class="howto-items">
            <i class='fas fa-angle-double-down' style='font-size:48px;color:red'></i>
        </div>
        <div class="howto-items">
            <p>7. สามารถดูรายละเอียดสินค้าที่คุณลูกค้าสั่งซื้อได้</p>
            <img src="/img/how6.jpg" alt="">
        </div>
        <div class="howto-items">
            <i class='fas fa-angle-double-down' style='font-size:48px;color:red'></i>
        </div>
        <div class="howto-items">
            <p>8. สถานะจะถูกอัพเดทเป็น "อนุมัติรายการสั่งซื้อเรียบร้อย" หาก admin ได้ทำการตรวจสอบแล้ว</p>
            <img src="/img/how7.jpg" alt="">
        </div>
    </section>


  </div>

    <footer class="footer">
        <div class="footer-licence">
            <h4>Copyright 2022 StoreKeeper Offical All Rights Reserved</h4>
        </div>
        <div class="footer-contact">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/tnpwin/nodejs_storekeeper" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </footer>
  <%- include ('siteScripts')%>
</body>
</html>