<div class="footer-container">
    <footer class="footer">
        <div class="footer-licence">
            <h4>Copyright 2022 StoreKeeper Offical All Rights Reserved</h4>
        </div>
        <div class="footer-contact">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/tnpwin/nodejs_storekeeper" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </footer>
</div>


